body
  padding-top: 70px
  background-color: #C8B7A7
.center
  text-align: center
  vertical-align: middle
.sidebar
  position: fixed
  top: 50px
  left: 0px
  list-style: none
  margin: 0
.padded_left
  padding-left: 5px
.padded_top
  padding-top: 5px
  padding-bottom: 5px
.padded
  padding: 5px
.transparent
  background-color: #C8B7A7
  opacity: 0.87
.hidden
  display:  none !important
.visible
  display:  block !important
.fill
  width: 100%
.fill50
  width: 50%
.tab_pagination
  overflow: hidden
.ontop
  z-index: 1030
.black
  background-color: black
.overlay
  z-index: 99999
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  list-style: none
  margin: 0
  background: rgba(0,0,0,0.8)
.overlay_input
  z-index: 99999
  position: fixed
  top: 40%
  right: 0
  bottom: 0
  left: 0
  list-style: none
  margin: 0
.preloader
  position: fixed
  top: 50%
  left: 50%
  -moz-transform: translate(-225px, -225px)
  -ms-transform: translate(-225px, -225px)
  -webkit-transform: translate(-225px, -225px)
  -o-transform: translate(-225px, -225px)
  transform: translate(-225px, -225px)

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
+keyframes(blink)
  from
    box-shadow: 0 0 0px cyan
  to
    box-shadow: 0 0 50px cyan
.glowing
  -webkit-animation: blink 0.8s linear infinite alternate
  -moz-animation: blink 0.8s linear infinite alternate
  -o-animation: blink 0.8s linear infinite alternate
  animation: blink 0.8s linear infinite alternate
.row_normal
  background-color: transparent
.row_warn
  background-color: #FFB347
.row_error
  background-color: #FF6961
.row_strange
  background-color: #B39EB5
.pastel1
  background-color: #BFE2CA
.pastel2
  background-color: #E2D4D4
.pastel3
  background-color: #E5E3D7
.white
  background-color: white
//
// PRELODER
//
.cssload-wrap
  width: 450px
  height: 450px
  margin: 225px auto
  position: relative
  perspective: 9000px
  -o-perspective: 9000px
  -ms-perspective: 9000px
  -webkit-perspective: 9000px
  -moz-perspective: 9000px
  transform-style: preserve-3d
  -o-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d

.cssload-circle
  transform-style: preserve-3d
  -o-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  box-sizing: border-box
  -o-box-sizing: border-box
  -ms-box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  opacity: 0
  width: 450px
  height: 450px
  border: 5px solid rgba(191, 226, 202, 0.81)
  border-radius: 338px
  position: absolute
  top: 0
  left: 0
  animation: cssload-spin 9s ease-in-out alternate infinite
  -o-animation: cssload-spin 9s ease-in-out alternate infinite
  -ms-animation: cssload-spin 9s ease-in-out alternate infinite
  -webkit-animation: cssload-spin 9s ease-in-out alternate infinite
  -moz-animation: cssload-spin 9s ease-in-out alternate infinite
  &:nth-of-type(1)
    animation-delay: 150ms
    -o-animation-delay: 150ms
    -ms-animation-delay: 150ms
    -webkit-animation-delay: 150ms
    -moz-animation-delay: 150ms
  &:nth-of-type(2)
    animation-delay: 300ms
    -o-animation-delay: 300ms
    -ms-animation-delay: 300ms
    -webkit-animation-delay: 300ms
    -moz-animation-delay: 300ms
  &:nth-of-type(3)
    animation-delay: 450ms
    -o-animation-delay: 450ms
    -ms-animation-delay: 450ms
    -webkit-animation-delay: 450ms
    -moz-animation-delay: 450ms
  &:nth-of-type(4)
    animation-delay: 600ms
    -o-animation-delay: 600ms
    -ms-animation-delay: 600ms
    -webkit-animation-delay: 600ms
    -moz-animation-delay: 600ms
  &:nth-of-type(5)
    animation-delay: 750ms
    -o-animation-delay: 750ms
    -ms-animation-delay: 750ms
    -webkit-animation-delay: 750ms
    -moz-animation-delay: 750ms

@keyframes cssload-spin
  0%
    transform: rotateY(0deg) rotateX(0deg)
    opacity: 1

  25%
    transform: rotateY(180deg) rotateX(360deg)

  50%
    transform: rotateY(540deg) rotateX(540deg)

  75%
    transform: rotateY(720deg) rotateX(900deg)

  100%
    transform: rotateY(900deg) rotateX(1080deg)
    opacity: 1


@-o-keyframes cssload-spin
  0%
    -o-transform: rotateY(0deg) rotateX(0deg)
    opacity: 1

  25%
    -o-transform: rotateY(180deg) rotateX(360deg)

  50%
    -o-transform: rotateY(540deg) rotateX(540deg)

  75%
    -o-transform: rotateY(720deg) rotateX(900deg)

  100%
    -o-transform: rotateY(900deg) rotateX(1080deg)
    opacity: 1


@-ms-keyframes cssload-spin
  0%
    -ms-transform: rotateY(0deg) rotateX(0deg)
    opacity: 1

  25%
    -ms-transform: rotateY(180deg) rotateX(360deg)

  50%
    -ms-transform: rotateY(540deg) rotateX(540deg)

  75%
    -ms-transform: rotateY(720deg) rotateX(900deg)

  100%
    -ms-transform: rotateY(900deg) rotateX(1080deg)
    opacity: 1


@-webkit-keyframes cssload-spin
  0%
    -webkit-transform: rotateY(0deg) rotateX(0deg)
    opacity: 1

  25%
    -webkit-transform: rotateY(180deg) rotateX(360deg)

  50%
    -webkit-transform: rotateY(540deg) rotateX(540deg)

  75%
    -webkit-transform: rotateY(720deg) rotateX(900deg)

  100%
    -webkit-transform: rotateY(900deg) rotateX(1080deg)
    opacity: 1


@-moz-keyframes cssload-spin
  0%
    -moz-transform: rotateY(0deg) rotateX(0deg)
    opacity: 1

  25%
    -moz-transform: rotateY(180deg) rotateX(360deg)

  50%
    -moz-transform: rotateY(540deg) rotateX(540deg)

  75%
    -moz-transform: rotateY(720deg) rotateX(900deg)

  100%
    -moz-transform: rotateY(900deg) rotateX(1080deg)
    opacity: 1
